body{
    margin:0px;
    padding: 0px;
    background-color: #1a237e;
}
table{
    border-collapse: collapse;
}

fieldset{
    width: 20%;
    margin-left:auto;
    margin-right:auto;
}

header{
    background-color: darkgray;
    margin-bottom: 10px;
    display: flex;
}
#disconnect{
    margin-left: 10px;
}
#main{
    width:90%;
    margin-left:auto;
    margin-right: auto;
}
.submain{
    display:flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 640px){
    .categorie{
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 640px){
    .categorie{
        width:45%;
        margin-left: auto;
        margin-right: auto;
    }
}


.exname{
    width: 70%;
}

.exgroup{
    width: 30%;
}

#addexercices{
    width:100%;
}

#tableprogram tr{
    border:1px solid black;
}

#tableprogram{
    width: 100%;
}

legend{
    background-color:#c5cae9;
}

#centerbox{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

fieldset{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:white;
}